@import 'reset.css';

body {
    color: black;
    background-color: #F0F0F0;


    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;
}

/*  */



.main {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* borders 
top
left
right
bottom

border-radius = bordas arredondadas*/

.content{
    background-color: white;
    height: 100%;
    width: 35%;
}

.header-percentage {
    width: 100%;
    height: 25%;
}

.header {
    height: 10%;
    display: flex;
    align-items: center;
}

.header img{
    width: 43px;
}

.background {
    height: 83%;
    background-image: url(_resource/blackfriday-bg-emails.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 18px;
}

.background img {
    width: 80px;
    height: 13px;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    gap: 6px;
}

.bold {
    font-weight: bold;
}

.counter-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-0 {
    color: white;
    font-size: 40px;
}

.moment {
    color: #997400;
    font-size: 7px;
}

.body-percentage {
    width: 100%;
    height: 60%;
}

.paragraph {
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-text1 {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #65666A;

}

.schedule {
    height: 20%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #65666A;
}

.schedule-text {    
    width: 86%;
    font-size: 16px;
    border-left: solid 4px #FFC200;
    padding: 12px;
    padding-top: 12px;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.paragraph2 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #65666A;
}

.counter-p2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.counter-p2 div img{
    margin-right: 4px;
}

.button {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.button button {
    position: relative;
    background-color: #FFC200;
    border: none;
    font-size: 14px;
    color: black;
    padding: 13px;
    height: 44px;
    width: 160px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.paragraph3 {
    width: 100%;
    height: 15%;
    font-size: 16px;
    color: #65666A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.paragraph3-text {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.baseboard-pecentage {
    width: 100%;
    height: 15%;
}

.baseboard {
    width: 100%;
    height: 40%;
    background-color: #313336;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.baseboard img {
    width: 30px;
}

.baseboard-end {
    background-color: #F0F0F0;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.blue {
    color: #4EB9DC;
    font-size: 12px;
}

.baseboard-text {
    color: #9B9E9F;
    text-align: center;
    width: 65%;
}



/* Responsiveness */



@media screen and (max-width: 1440px){
    .header {
        height: 20%;
    }
    
    .header img {
        width: 30px;
        margin-left: 7px;
    }

    .number-0 {
        color: white;
        font-size: 25px;
    }

    .moment {
        color: #997400;
        font-size: 6px;
    }

    .paragraph {
        height: 25%;
    }

    .paragraph-text1 {
        gap: 10px;
        font-size: 11px;
    }

    .schedule-text {
        font-size: 11px;
    }

    .counter-p2 {
        gap: 4px;
        font-size: 11px;
    }

    .counter-p2 div img {
        width: 10px;
    }

    .button button {
        font-size: 11px;
        height: 25px;
        width: 130px;
        padding: 0px;
    }

    .paragraph3-text {
        font-size: 11px;
    }

    .baseboard img {
        width: 20px;
    }

    .baseboard-text {
        font-size: 11px;
    }
}


@media screen and (max-width: 1280px){
    .header {
        width: 95%;
        height: 15%;
        display: flex;
        padding-left: 8px;
    }
    
}

@media screen and (max-width: 720px){

    .content {
        width: 100%;
    }

    .header {
        height: 17%;
        
    }

    .background img {
        width: 100px;
    }

    .number-0 {
        color: white;
        font-size: 30px;
    }

    .paragraph-text1 {
        font-size: 15px;
    }

    .schedule-text {
        font-size: 15px;
    }

    .counter-p2 {
        font-size: 15px;
    }

    .button button {
        font-size: 15px;
        height: 40px;
        width: 170px;
        padding: 0px;
    }

    .paragraph3-text {
        font-size: 15px;
    }

    .baseboard-text {
        font-size: 13px;
    }

    .blue {
        color: #4EB9DC;
        font-size: 13px;
    }

    .baseboard img {
        width: 35px;
    }
}

@media screen and (max-width: 390px){
    .paragraph-text1 {
        font-size: 9px;
    }

    .schedule-text {
        font-size: 9px;
    }

    .counter-p2 {
        font-size: 9px;
    }

    .button button {
        font-size: 9px;
        height: 25px;
        width: 120px;
        padding: 0px;
    }

    .paragraph3-text {
        font-size: 9px;
    }

    .baseboard img {
        width: 25px;
    }

    .baseboard-text {
        font-size: 7px;
    }

    .blue {
        font-size: 7px;
    }


}