@import 'reset.css';

body {
    color: black;
    background-color: #A9A9A9;


    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;
}

/*  */

.main {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* borders 
top
left
right
bottom

border-radius = bordas arredondadas*/

.content{
    background-color: white;
    height: 100%;
    width: 35%;
}

.header {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: start;
    padding: 12px;
}

.header img{
    width: 36px;
    height: 14px;
}

.background {
    background-image: url(_resource/blackfriday-bg-emails.png);
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;

}

.background img {
    width: 80px;
    height: 13px;
    padding-top: 22px;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20px;
    font-size: 22px;
    padding-top: 16px;
    gap: 6px;
}

.bold {
    font-weight: bold;
}

.counter-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 43px;
    gap: 11px;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-0 {
    color: white;
    font-size: 40px;
}

.moment {
    color: #997400;
    font-size: 7px;
}

.paragraph {
    width: 100%;
    height: 85px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #65666A;
    padding: 24px;
    padding-top: 54px;
    word-spacing: 2px;
}

.schedule {
    width: 93%;
    height: 80px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 22px;
    color: #65666A;
}

.schedule-text {    
    font-size: 16px;
    border-left: solid 4px #FFC200;
    padding: 16px;
    padding-top: 12px;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.paragraph2 {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 22px;
    gap: 4px;
    color: #65666A;
}

.counter-p2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.counter-p2 div img{
    margin-right: 4px;
}

.button {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;   
    padding-top: 15px;
    padding-bottom: 15px;
}

.button button {
    position: relative;
    background-color: #FFC200;
    border: none;
    font-size: 14px;
    color: black;
    padding: 13px;
    height: 44px;
    width: 160px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.paragraph3 {
    width: 100%;
    height: 50px;
    padding: 22px;
    font-size: 16px;
    color: #65666A;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.paragraph3-text {
    display: flex;
    flex-direction: column;
}


.baseboard {
    width: 100%;
    height: 52px;
    background-color: #313336;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.baseboard img {
    width: 30px;
    height: 30px;
}

.baseboard-end {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.blue {
    color: #4EB9DC;
    font-size: 12px;
}

.baseboard-text {
    color: #9B9E9F;
    text-align: center;
    width: 65%;
}